<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add New Disease</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
  <a href="/main">
    <div class="sick-sense-logo" style="position: absolute;
    width: 331px;
    top: 34px;
    left: 43px;
    font-family: 'Inter-SemiBold', Helvetica;
    font-weight: 600;
    color: #000000cc;
    font-size: 44px;
    text-align: start;
    letter-spacing: -0.84px;
    line-height: 50.6px;
    cursor: pointer;">🩺 SickSense</div>
  </a>
  <div class="container mt-4">
    <div class="card" style="top: 230px">
      <div class="card-body">
        <h2>Add New Disease</h2>
        <form id="symptomForm">
          <div class="form-group">
            <label for="disease">Disease Name</label>
            <input type="text" class="form-control col-lg-9" id="disease" placeholder="Enter Disease Name" name="disease">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <script>
    $(document).ready(function() {
      $('#symptomForm').submit(function(event) {
        event.preventDefault(); // Prevent default form submission

        // Get symptom values from form
        var disease = $('#disease').val();

        // AJAX call to send symptom data to server
        $.ajax({
          url: '/addNewDisease',
          method: 'POST',
          data: {
            disease: disease
          },
          success: function(response) {
            // Display response in result container
            alert(response);
          },
          error: function() {
            alert('Disease cannot be empty!');
          }
        });
      });
    });
  </script>
</body>
</html>
